.tabela{
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(10, 10, 10);
    
    th, td { 
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; 
    }
    
    th { 
        font-size: 16px;
        font-weight: bold;
        background: linear-gradient(0deg, rgba(0,109,119,1) 0%, rgba(53,149,158,1) 100%); 
        color: white; 
    }

    tr{
        font-weight: bold;
        background-color: #f2f2f2; 
        &:hover{
            background: #8b8a8a
        }
    }
}

.add{
    display: flex;
    button.add{
        background-color: #2be938;
        color: #0c0c0c;
        font-weight: bold;
        border-radius: 5px;
        transition: 0.5s;
        align-items: center;
        margin-bottom: 5px;
        margin-right: 0px;
        &:hover {
            scale: 1.1;
        }
    }
    
}

.login-body {
    display: flex;
    justify-content: center;
    height: 55vh;
    margin-top: 80px;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        background: rgb(255, 255, 255);
        padding: 20px;
        width: 350px;
        box-shadow:1px 1px 10px rgb(255, 255, 255);
        border-radius: 10px;
        text-align: center;
    }

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: #006d77;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .form {
        text-align: left;
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input {
        width: 93%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        width: 100%;
        background: linear-gradient(0deg, rgba(0,109,119,1) 0%, rgba(53,149,158,1) 100%);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover {
        background: linear-gradient(0deg, rgba(53,149,158,1) 2%, rgba(0,109,119,1) 88%);
    }

    .register {
        margin-top: 15px;
        font-size: 14px;
    }

    .register a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .register a:hover {
        text-decoration: underline;
    }
}

.produto {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 1em;
        cursor: pointer;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #45a049;
    }
    form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1em;
    }
    input[type="text"]:focus,
    input[type="number"]:focus {
        border-color: #4CAF50;
        outline: none;
    }
    button#salvar {
        width: 100%;
        background-color: #4CAF50;
        font-size: 1.2em;
    }

    button#salvar:hover {
        background-color: #45a049;
    }
}

.cliente {
        font-family: Arial, sans-serif;
        /* background-color: #f4f4f4; */
        color: #333;
        padding: 20px;
    
    form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    input {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1em;
    }
    input:focus {
        border-color: #4CAF50;
        outline: none;
    }
    button {
        width: 100%;
        padding: 10px;
        margin: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    button:hover {
        background-color: #45a049;
    }
}

.pedido {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    color: #333;
    padding: 20px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 1em;
        cursor: pointer;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    button:hover {
        background-color: #45a049;
    }
    form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    input[type="number"] {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1em;
    }
    input[type="number"]:focus {
        border-color: #4CAF50;
        outline: none;
    }
    button#salvar {
        width: 100%;
        background-color: #4CAF50;
        font-size: 1.2em;
    }
    button#salvar:hover {
        background-color: #45a049;
    }
}
